node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/result

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.direnv

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
